Tibco.EARComparer/src/main/resources/ApplicationManagement.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
    targetNamespace = "http://www.tibco.com/xmlns/ApplicationManagement"
    xmlns:tns = "http://www.tibco.com/xmlns/ApplicationManagement"
    xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
    xmlns:tns1 = "http://www.tibco.com/xmlns/authentication"
    xmlns:tns2 = "http://www.tibco.com/xmlns/dd"
    xmlns:tns3 = "http://www.tibco.com/xmlns/ApplicationManagement/BW"
    elementFormDefault = "qualified">
    <import namespace = "http://www.tibco.com/xmlns/authentication" schemaLocation = "RequiresAuthentication.xsd"/>
    <import namespace = "http://www.tibco.com/xmlns/dd" schemaLocation = "DeploymentDescriptorArchive.xsd"/>
    <import namespace = "http://www.tibco.com/xmlns/ApplicationManagement/BW" schemaLocation = "BW.xsd"/>
      <complexType name = "NVPairType">
        <sequence>
            <element name = "name" type = "string"/>
            <element name = "value" type = "string" minOccurs = "0"/>
            <element name = "description" type = "string" minOccurs = "0"/>
        </sequence>
    </complexType>
    <complexType name = "RepoInstanceType"/>
    <complexType name = "RemoteRepoInstanceType">
        <complexContent>
            <extension base="tns:RepoInstanceType">
                <sequence>
                    <element name = "server" type = "string" minOccurs = "0"/>
                    <element name = "user" type = "string" minOccurs = "0"/>
                    <element name = "password" type = "string" minOccurs = "0"/>
                    <element name = "extraPropertyFile" type = "string" minOccurs = "0"/>
                    <element name = "timeout" type = "nonNegativeInteger" default = "600" minOccurs = "0"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name = "ApplicationType">
        <sequence>
        	<element name="repoInstanceName" type="string"
        		minOccurs="0" />
        	<element name="description" type="string" minOccurs="0" />
        	<element name="contact" type="string" minOccurs="0" />
        	<element name="maxdeploymentrevision" type="string" minOccurs="0" />
        	<element ref="tns:NVPairs" minOccurs="0" />
        	<element name = "SymmetricKeyEnabled" type = "string" minOccurs = "0"/>
        	<element ref="tns:repoInstances" minOccurs="0" />
        	<element ref="tns:services" />
        	<element ref="tns:plugins" minOccurs="0" />
        </sequence>
        <attribute name = "name" use = "required" type = "string"/>
    </complexType>
    <complexType name = "ServiceType">
        <sequence>
            <element name = "enabled" type = "boolean" default = "true" minOccurs = "0"/>
            <element ref = "tns:bindings" minOccurs = "0"/>
            <element ref = "tns:NVPairs" minOccurs = "0" maxOccurs = "unbounded"/>
            <element name = "failureCount" type = "nonNegativeInteger" default = "0" minOccurs = "0"/>
            <element name = "failureInterval" type = "nonNegativeInteger" default = "0" minOccurs = "0"/>
            <element ref = "tns:monitor" minOccurs = "0"/>
        </sequence>
        <attribute name = "name" use = "required" type = "string"/>
    </complexType>
    <complexType name = "BWServiceType">
        <complexContent>
            <extension base = "tns:ServiceType">
                <sequence>
                    <element ref = "tns3:bwprocesses" minOccurs = "0"/>
                    <element ref = "tns3:checkpoints" minOccurs = "0"/>
                    <element ref = "tns:bwprocesses" minOccurs = "0"/>
                    <element ref = "tns:checkpoints" minOccurs = "0"/>
                    <element ref = "tns:isFt" minOccurs = "0"/>
                    <element ref = "tns:faultTolerant" minOccurs = "0"/>
                    <element ref = "tns:plugins" minOccurs = "0"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name = "ServiceInstanceType">
        <sequence>
            <element ref = "tns:machine"/>
            <element ref = "tns:product"/>
            <element ref = "tns:container" minOccurs = "0" maxOccurs = "1"/>
            <element name = "description" type = "string" minOccurs = "0" maxOccurs = "1"/>
            <element name = "contact" type = "string" minOccurs = "0" maxOccurs = "1"/>
            <element ref = "tns:setting" minOccurs = "0" maxOccurs = "1"/>
            <element name = "ftWeight" type = "nonNegativeInteger" minOccurs = "0" maxOccurs = "1"/>
            <element ref = "tns:shutdown" minOccurs = "0" maxOccurs = "1"/>
            <element ref = "tns:plugins" minOccurs = "0"/>
            <element ref = "tns:NVPairs" minOccurs = "0"/>
        </sequence>
        <attribute name = "name" use = "required" type = "string"/>
    </complexType>
    <simpleType name = "repoType">
            <restriction base = "string">
                <enumeration value = "rv"/>
                <enumeration value = "http"/>
                <enumeration value = "https"/>
                <enumeration value = "local"/>
            </restriction>
    </simpleType>
    <simpleType name = "encodingType">
            <restriction base = "string">
                <enumeration value = "ISO8859-1"/>
                <enumeration value = "UTF-8"/>
            </restriction>
    </simpleType>
    <element name = "setting">
        <complexType>
            <sequence>
                <element name = "startOnBoot" type = "boolean" default = "false" minOccurs = "0"/>
                <element name = "enableVerbose" type = "boolean" default = "false" minOccurs = "0"/>
                <element name = "maxLogFileSize" type = "nonNegativeInteger" default = "20000" minOccurs = "0"/>
                <element name = "maxLogFileCount" type = "nonNegativeInteger" default = "5" minOccurs = "0"/>
                <element name = "threadCount" type = "nonNegativeInteger" default = "8" minOccurs = "0"/>
                <element name = "NTService" minOccurs = "0">
                    <complexType>
                        <sequence>
                            <element name = "runAsNT" type = "boolean" default = "false"/>
                            <element ref = "tns:startupType"/>
                            <element name = "loginAs" type = "string" minOccurs = "0"/>
                            <element name = "password" type = "string" minOccurs = "0"/>
                        </sequence>
                    </complexType>
                </element>
                <element name = "java" minOccurs = "0">
                    <complexType>
                        <sequence>
                            <element name = "prepandClassPath" type = "string" minOccurs = "0"/>
                            <element name = "appendClassPath" type = "string" minOccurs = "0"/>
                            <element name = "initHeapSize" type = "nonNegativeInteger" default = "32" minOccurs = "0"/>
                            <element name = "maxHeapSize" type = "nonNegativeInteger" default = "128" minOccurs = "0"/>
                            <element name = "threadStackSize" type = "nonNegativeInteger" default = "128" minOccurs = "0"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
    <element name = "NVPair" type = "tns:NVPairType" abstract = "true"/>
    <element name = "NameValuePair" substitutionGroup = "tns:NVPair">
        <complexType>
            <complexContent>
                <extension base = "tns:NVPairType"/>
            </complexContent>
        </complexType>
    </element>
    <element name = "NameValuePairInteger" substitutionGroup = "tns:NVPair">
        <complexType>
            <complexContent>
                <extension base = "tns:NVPairType">
                    <sequence>
                        <element name = "minInclusive" type = "nonNegativeInteger" minOccurs = "0"/>
                        <element name = "maxInclusive" type = "nonNegativeInteger" minOccurs = "0"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name = "NameValuePairBoolean" substitutionGroup = "tns:NVPair">
        <complexType>
            <complexContent>
                <extension base = "tns:NVPairType"/>
            </complexContent>
        </complexType>
    </element>
    <element name = "NameValuePairPassword" substitutionGroup = "tns:NVPair">
        <complexType>
            <complexContent>
                <extension base = "tns:NVPairType"/>
            </complexContent>
        </complexType>
    </element>
    <element name = "repoInstance" type = "tns:RepoInstanceType" abstract = "true"/>
    <element name = "remoteRepoInstance" type = "tns:RemoteRepoInstanceType" abstract = "true"/>
    <element name = "httpRepoInstance" substitutionGroup = "tns:remoteRepoInstance">
        <complexType>
            <complexContent>
                <extension base = "tns:RemoteRepoInstanceType">
                    <sequence>
                        <element name = "url" type = "string" minOccurs = "0"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name = "rvRepoInstance" substitutionGroup = "tns:remoteRepoInstance">
        <complexType>
            <complexContent>
                <extension base = "tns:RemoteRepoInstanceType">
                    <sequence>
                        <element name = "discoveryTimout" type = "nonNegativeInteger" default = "5" minOccurs = "0"/>
                        <element name = "daemon" type = "string" default = "tcp:7500" minOccurs = "0"/>
                        <element name = "service" type = "string" default = "7500" minOccurs = "0"/>
                        <element name = "network" type = "string" minOccurs = "0"/>
                        <element name = "regionalSubject" type = "string"  minOccurs = "0"/>
                        <element name = "operationRetry" type = "nonNegativeInteger" default = "0" minOccurs = "0"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name = "localRepoInstance" substitutionGroup = "tns:repoInstance">
        <complexType>
            <complexContent>
                <extension base = "tns:RepoInstanceType">
                    <sequence>
                        <element name = "encoding" type = "tns:encodingType"  default = "ISO8859-1" minOccurs = "0"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name = "application" type = "tns:ApplicationType"/>
    <element name = "baseService" type = "tns:ServiceType" abstract = "true"/>
    <element name = "service" substitutionGroup = "tns:baseService">
        <complexType>
            <complexContent>
                <extension base = "tns:ServiceType">
                    <sequence>
                        <element ref = "tns:authentications" minOccurs = "0"/>
                        <element ref = "tns:isFt" minOccurs = "0"/>
                        <element ref = "tns:faultTolerant" minOccurs = "0"/>
                        <element ref = "tns:plugins" minOccurs = "0"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name = "monitor">
        <complexType>
            <sequence>
                <element ref = "tns:rulebases" minOccurs = "0"/>
                <element ref = "tns:events" minOccurs = "0"/>
            </sequence>
        </complexType>
    </element>
    <element name = "adapter" substitutionGroup = "tns:baseService">
        <complexType>
            <complexContent>
                <extension base = "tns:ServiceType"/>
            </complexContent>
        </complexType>
    </element>
    <element name = "bw" substitutionGroup = "tns:baseService">
        <complexType>
            <complexContent>
                <extension base = "tns:BWServiceType">
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name = "formFlow" substitutionGroup = "tns:baseService">
        <complexType>
            <complexContent>
                <extension base = "tns:BWServiceType">
                    <sequence>
                        <element ref = "tns:authentications" minOccurs = "0"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name = "im" substitutionGroup = "tns:baseService">
        <complexType>
            <complexContent>
                <extension base = "tns:ServiceType"/>
            </complexContent>
        </complexType>
    </element>
    <element name = "binding">
        <complexType>
            <complexContent>
                <extension base = "tns:ServiceInstanceType"/>
            </complexContent>
        </complexType>
    </element>
    <element name = "faultTolerant">
        <complexType>
            <sequence>
                <element name = "hbInterval" type = "nonNegativeInteger" default = "10000" minOccurs = "0"/>
                <element name = "activationInterval" type = "nonNegativeInteger" minOccurs = "0"/>
                <element name = "preparationDelay" type = "nonNegativeInteger" minOccurs = "0"/>
            </sequence>
        </complexType>
    </element>
    <element name = "startupType" default = "automatic">
        <simpleType>
            <restriction base = "string">
                <enumeration value = "automatic"/>
                <enumeration value = "manual"/>
                <enumeration value = "disabled"/>
            </restriction>
        </simpleType>
    </element>
    <element name = "failureEvent" substitutionGroup = "tns:event">
        <complexType>
            <complexContent>
                <extension base = "tns:EventType">
                    <sequence>
                        <element name = "failure">
                            <simpleType>
                                <restriction base = "string">
                                    <enumeration value = "ANY"/>
                                    <enumeration value = "FIRST"/>
                                    <enumeration value = "SECOND"/>
                                    <enumeration value = "Subsequent"/>
                                </restriction>
                            </simpleType>
                        </element>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name = "suspendProcessEvent" substitutionGroup = "tns:event">
        <complexType>
            <complexContent>
                <extension base = "tns:EventType"/>
            </complexContent>
        </complexType>
    </element>
    <element name = "checkPointRecoveryStorage" type = "boolean" default = "false"/>
    <element name = "alertAction" substitutionGroup = "tns:action">
        <complexType>
            <complexContent>
                <extension base = "tns:ActionType">
                    <sequence>
                        <element ref = "tns:level" minOccurs = "0"/>
                        <element name = "message" type = "string" minOccurs = "0"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name = "performPolicy">
        <simpleType>
            <restriction base = "string">
                <enumeration value = "Once"/>
                <enumeration value = "Always"/>
            </restriction>
        </simpleType>
    </element>
    <element name = "level">
        <simpleType>
            <restriction base = "string">
                <enumeration value = "High"/>
                <enumeration value = "Medium"/>
                <enumeration value = "Low"/>
            </restriction>
        </simpleType>
    </element>
    <element name = "emailAction" substitutionGroup = "tns:action">
        <complexType>
            <complexContent>
                <extension base = "tns:ActionType">
                    <sequence>
                        <element name = "message" type = "string" minOccurs = "0"/>
                        <element name = "to" type = "string" minOccurs = "0"/>
                        <element name = "cc" type = "string" minOccurs = "0"/>
                        <element name = "subject" type = "string" minOccurs = "0"/>
                        <element name = "sMTPServer" type = "string" minOccurs = "0"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name = "actions">
        <complexType>
            <sequence>
                <element ref = "tns:action" minOccurs = "0" maxOccurs = "unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name = "customAction" substitutionGroup = "tns:action">
        <complexType>
            <complexContent>
                <extension base = "tns:ActionType">
                    <sequence>
                        <element name = "command" type = "string" minOccurs = "0"/>
                        <element name = "arguments" type = "string" minOccurs = "0"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name = "machine" type = "string"/>
    <element name = "product">
        <complexType>
            <sequence>
                <element name = "type" type = "string"/>
                <element name = "version" type = "string" minOccurs = "0"/>
                <element name = "location" type = "string" minOccurs = "0"/>
            </sequence>
        </complexType>
    </element>
    <element name = "container" type = "string"/>
    <element name = "bindings">
        <complexType>
            <sequence>
                <element ref = "tns:binding" maxOccurs = "unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name = "NVPairs">
        <complexType>
            <sequence>
                <element ref = "tns:NVPair" minOccurs = "0" maxOccurs = "unbounded"/>
            </sequence>
            <attribute name = "name" use = "required" type = "string"/>
        </complexType>
    </element>
    <element name = "repoInstances">
        <complexType>
            <all>
                <element ref = "tns:httpRepoInstance" minOccurs = "0"/>
                <element ref = "tns:rvRepoInstance" minOccurs = "0"/>
                <element ref = "tns:localRepoInstance" minOccurs = "0"/>
            </all>
            <attribute name = "selected" type="tns:repoType"/>
        </complexType>
    </element>
    <element name = "services">
        <complexType>
            <sequence>
                <element ref = "tns:baseService" minOccurs = "0" maxOccurs = "unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name = "isFt" type = "boolean"/>
    <element name = "authentications">
        <complexType>
            <sequence>
                <element ref = "tns1:AuthenticationConfiguration" minOccurs = "0" maxOccurs = "unbounded"/>
            </sequence>
            <attribute name = "selected" type = "string"/>
        </complexType>
    </element>
    <element name = "plugins">
        <complexType>
            <sequence>
                <element ref = "tns2:DeploymentDescriptor" minOccurs = "0" maxOccurs = "unbounded"/>
                <element name = "extends" type = "tns:anyObject" nillable = "true" minOccurs = "0"/>
            </sequence>
        </complexType>
    </element>
    <element name = "rulebases">
        <complexType>
            <sequence>
                <element name = "rulebase" minOccurs = "0" maxOccurs = "unbounded">
                    <complexType>
                        <sequence>
                            <element name = "uri" type = "string"/>
                            <element name = "data" type = "base64Binary" minOccurs = "0"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
    <element name = "events">
        <complexType>
            <sequence>
                <element ref = "tns:event" minOccurs = "0" maxOccurs = "unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name = "event" type = "tns:EventType" abstract = "true"/>
    <complexType name = "EventType">
        <sequence>
            <element name = "restart" type = "boolean" minOccurs = "0"/>
            <element name = "description" type = "string" minOccurs = "0"/>
            <element ref = "tns:actions" minOccurs = "0"/>
        </sequence>
    </complexType>
    <complexType name = "ActionType">
        <sequence>
            <element ref = "tns:performPolicy" minOccurs = "0"/>
            <element name = "enabled" type = "boolean" minOccurs = "0"/>
        </sequence>
    </complexType>
    <element name = "logEvent" substitutionGroup = "tns:event">
        <complexType>
            <complexContent>
                <extension base = "tns:EventType">
                    <sequence>
                        <element name = "match" type = "string"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name = "action" type = "tns:ActionType" abstract = "true"/>
    <complexType name = "anyObject">
        <sequence minOccurs = "0">
            <any namespace = "##any" processContents = "skip" minOccurs = "0" maxOccurs = "unbounded"/>
        </sequence>
    </complexType>
    <element name = "shutdown">
        <complexType>
            <sequence>
                <element name = "checkpoint" type = "boolean" minOccurs = "0" maxOccurs = "1" default = "false"/>
                <element name = "timeout" type = "nonNegativeInteger" minOccurs = "0" maxOccurs = "1" default = "0"/>
            </sequence>
        </complexType>
    </element>
    <element name = "bwprocess">
        <complexType>
            <sequence>
                <element name = "starter" type = "string" default = ""/>
                <element name = "enabled" type = "boolean" default = "true" minOccurs = "0"/>
                <element name = "maxJob" type = "nonNegativeInteger" default = "0" minOccurs = "0"/>
                <element name = "activation" type = "boolean" default = "true" minOccurs = "0"/>
                <element name = "flowLimit" type = "nonNegativeInteger" default = "0" minOccurs = "0" maxOccurs="1"/>
            </sequence>
            <attribute name = "name" use = "required" type = "string"/>
        </complexType>
    </element>
    <element name = "checkpoint" type = "string"/>
    <element name = "bwprocesses">
        <complexType>
            <sequence>
                <element ref = "tns:bwprocess" minOccurs = "0" maxOccurs = "unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name = "checkpoints">
        <complexType>
            <sequence>
                <element ref = "tns:checkpoint" minOccurs = "0" maxOccurs = "unbounded"/>
                <element name = "tablePrefix" type = "string" minOccurs = "0" maxOccurs = "1"/>
            </sequence>
            <attribute name = "selected" type = "string"/>
        </complexType>
    </element>
</schema>