Tibco.EARComparer/src/main/resources/BW.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
    targetNamespace = "http://www.tibco.com/xmlns/ApplicationManagement/BW"
    xmlns:tns = "http://www.tibco.com/xmlns/ApplicationManagement/BW"
    xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
    elementFormDefault = "qualified">
    <element name = "bwprocess">
        <complexType>
            <sequence>
                <element name = "starter" type = "string" default = ""/>
                <element name = "enabled" type = "boolean" default = "true" minOccurs = "0"/>
                <element name = "maxJob" type = "nonNegativeInteger" default = "0" minOccurs = "0"/>
                <element name = "activation" type = "boolean" default = "true" minOccurs = "0"/>
                <element name = "flowLimit" type = "nonNegativeInteger" default = "0" minOccurs = "0" maxOccurs="1"/>
            </sequence>
            <attribute name = "name" use = "required" type = "string"/>
        </complexType>
    </element>
    <element name = "checkpoint" type = "string"/>
    <element name = "bwprocesses">
        <complexType>
            <sequence>
                <element ref = "tns:bwprocess" minOccurs = "0" maxOccurs = "unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name = "checkpoints">
        <complexType>
            <sequence>
                <element ref = "tns:checkpoint" minOccurs = "0" maxOccurs = "unbounded"/>
                <element name = "tablePrefix" type = "string" minOccurs = "0" maxOccurs = "1"/>
            </sequence>
            <attribute name = "selected" type = "string"/>
        </complexType>
    </element>
</schema>