Tibco.EARComparer/src/main/resources/DeploymentDescriptorArchive.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.tibco.com/xmlns/dd"
	 xmlns:tns = "http://www.tibco.com/xmlns/dd"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<element name = "DeploymentDescriptors">
		<complexType>
			<sequence>
				<element name = "name" type = "string"/>
				<element name = "description" type = "string" minOccurs = "0"/>
				<element name = "version" type = "string" minOccurs = "0"/>
				<element name = "owner" type = "string" minOccurs = "0"/>
				<element name = "creationDate" type = "string" minOccurs = "0"/>
				<element name = "isApplicationArchive" type = "string" minOccurs = "0"/>
				<element ref = "tns:DeploymentDescriptor" minOccurs = "0" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name = "DeploymentDescriptor" type = "tns:DeploymentDescriptorType" abstract = "true"/>
	<complexType name = "DeploymentDescriptorType">
		<sequence>
			<element name = "name" type = "string"/>
			<element name = "description" type = "string" minOccurs = "0"/>
		</sequence>
	</complexType>
	<element name = "ComponentSoftwareReference">
		<complexType>
			<sequence>
				<element name = "componentSoftwareName" type = "string" minOccurs = "0">
					<annotation>
						<documentation>If specified, this name must match the name returned ComponentSoftware.getName when the product is registered with domain utility. If not specified then at least one keyword should be specified. For example, keyword ServletEngine would allow deployment of this archive to any application server without having to specify each vendor specifically.
						
						</documentation>
					</annotation>
				</element>
				<element name = "minimumComponentSoftwareVersionNumber" type = "long" minOccurs = "0">
					<annotation>
						<documentation>Obsolete - stored the version number in a long format.</documentation>
					</annotation>
				</element>
				<element name = "minimumComponentSoftwareVersion" type = "string" minOccurs = "0">
					<annotation>
						<documentation>If specified, then this must be a string of the form x.x.x.x (or fewer parts is ok too). The installed product must be at least this version or higher. If not specified then any version will be matched.
						
						</documentation>
					</annotation>
				</element>
				<element name = "minimumTRAVersion" type = "string" minOccurs = "0">
					<annotation>
						<documentation>If specified, then this must be a string of the form x.x.x.x (or fewer parts is ok too). This is to match the TRA version the component must uses.

						</documentation>
					</annotation>
				</element>
				
                <element name = "configVersion" type = "string" minOccurs = "0">
                    <annotation>
                        <documentation>If specified, then this must be a string of the form x.x.x.x (or fewer parts is ok too). This represents the version of the configuration associated with the archive. Installed ComponentSoftware may specific a minimum configuration version allowed (if they don't support backward compatibility) which is compared to this version number.</documentation>
                    </annotation>
                </element>
				<element name = "keyword" type = "string" minOccurs = "0" maxOccurs = "unbounded">
					<annotation>
						<documentation>All keywords specified must be present in the keywords of the ComponentSoftware that the archive can be deployed in (or any that it references as supporting). Keywords are ignored if none are specified here.
						
						</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name = "DeploymentDescriptorFactory" substitutionGroup = "tns:DeploymentDescriptor">
		<annotation>
			<documentation>Used to register a new type of deployment descriptor inside an application archive.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base = "tns:DeploymentDescriptorType">
					<sequence>
						<element name = "deploymentDescriptorFactoryClassName" type = "string">
							<annotation>
								<documentation>Name of the java class that implements the com.tibco.util.plugin.ComponentFactory interface that can generate Java object instances of a deployment descriptor type from an XiNode.</documentation>
							</annotation>
						</element>
						<element name = "deploymentDescriptorXsdFileName" type = "string" minOccurs = "0"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name = "NVPair" type = "tns:NVPairType" abstract = "true"/>
	<complexType name = "NVPairType">
		<sequence>
			<element name = "name" type = "string"/>
			<element name = "value" type = "string" minOccurs = "0"/>
			<element name = "description" type = "string" minOccurs = "0"/>
			<element name = "requiresConfiguration" type = "boolean"/>
			<element name = "disableConfigureAtDeployment" type = "boolean" minOccurs = "0"/>
		</sequence>
	</complexType>
	<element name = "NameValuePair" substitutionGroup = "tns:NVPair">
		<complexType>
			<complexContent>
				<extension base = "tns:NVPairType">
					<sequence>
						<element name = "enumerationElementFactoryClassName" type = "string" minOccurs = "0">
							<annotation>
								<documentation>Optional class name to load to retrieve enumeration elements.</documentation>
							</annotation>
						</element>
						<element name = "enumerationElement" type = "string" minOccurs = "0" maxOccurs = "unbounded">
							<annotation>
								<documentation>Specifies one of an enumeration that the value of this NameValuePair must be.</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name = "NameValuePairInteger" substitutionGroup = "tns:NVPair">
		<complexType>
			<complexContent>
				<extension base = "tns:NVPairType">
					<sequence>
						<element name = "minInclusive" type = "integer" minOccurs = "0"/>
						<element name = "maxInclusive" type = "integer" minOccurs = "0"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name = "NameValuePairBoolean" substitutionGroup = "tns:NVPair">
		<complexType>
			<complexContent>
				<extension base = "tns:NVPairType"/>
			</complexContent>
		</complexType>
	</element>
	<element name = "NameValuePairPassword" substitutionGroup = "tns:NVPair">
		<complexType>
			<complexContent>
				<extension base = "tns:NVPairType"/>
			</complexContent>
		</complexType>
	</element>
	<element name = "NameValuePairs" substitutionGroup = "tns:DeploymentDescriptor">
		<complexType>
			<complexContent>
				<extension base = "tns:DeploymentDescriptorType">
					<sequence>
						<element name = "disableConfigureAtDeployment" type = "boolean" minOccurs = "0"/>
						<element ref = "tns:NVPair" minOccurs = "0" maxOccurs = "unbounded"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name = "Modules" substitutionGroup = "tns:DeploymentDescriptor">
		<annotation>
			<documentation>Used to specify a list of Service archives in an application archive.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base = "tns:DeploymentDescriptorType">
					<sequence>
						<element name = "pathName" type = "string" minOccurs = "0" maxOccurs = "unbounded">
							<annotation>
								<documentation>Path to the file in the archive that contains a service archive.</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name = "ClassLoaderExtension" substitutionGroup = "tns:DeploymentDescriptor">
		<annotation>
			<documentation>Used to specify a list of jars to add to the class loader of the Service archive.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base = "tns:DeploymentDescriptorType">
					<sequence>
						<element name = "pathName" type = "string" minOccurs = "0" maxOccurs = "unbounded">
							<annotation>
								<documentation>Path to the file in the archive that contains a jar.</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
    <element name = "DiffExcludeFilter" substitutionGroup = "tns:DeploymentDescriptor">
        <annotation>
            <documentation>Used to specify a list of paths to ignore when diffing versions of the archive containing this DD.</documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base = "tns:DeploymentDescriptorType">
                    <sequence>
                        <element name = "pathName" type = "string" minOccurs = "0" maxOccurs = "unbounded">
                            <annotation>
                                <documentation>Path to the file in the archive that should be ignored.</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
	<element name = "SupportsFaultTolerance" substitutionGroup = "tns:DeploymentDescriptor">
		<annotation>
			<documentation>Set in a service archive to indicate that the engine supports fault tolerance.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base = "tns:DeploymentDescriptorType"/>
			</complexContent>
		</complexType>
	</element>
	<element name = "StartAsOneOf" substitutionGroup = "tns:DeploymentDescriptor">
		<complexType>
			<complexContent>
				<extension base = "tns:DeploymentDescriptorType">
					<sequence>
						<element ref = "tns:ComponentSoftwareReference" maxOccurs = "unbounded"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name = "RequiredComponents" substitutionGroup = "tns:DeploymentDescriptor">
		<complexType>
			<complexContent>
				<extension base = "tns:DeploymentDescriptorType">
					<sequence>
						<element ref = "tns:ComponentSoftwareReference" minOccurs = "0" maxOccurs = "unbounded"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name = "CustomTSMPlugInConfiguration" substitutionGroup = "tns:DeploymentDescriptor">
		<complexType>
			<complexContent>
				<extension base = "tns:DeploymentDescriptorType">
					<sequence>
						<element name = "customTSMPlugInClassName" type = "string"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
</schema>