Tibco.EARComparer/src/main/resources/RequiresAuthentication.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.tibco.com/xmlns/authentication"
	 xmlns:tns = "http://www.tibco.com/xmlns/authentication"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:dd = "http://www.tibco.com/xmlns/dd"
	 elementFormDefault = "qualified">
	<import namespace = "http://www.tibco.com/xmlns/dd" schemaLocation = "DeploymentDescriptorArchive.xsd"/>
	<element name = "RequiresAuthentication" substitutionGroup = "dd:DeploymentDescriptor">
		<annotation>
			<documentation>DeploymentDescriptor for indicating a service requires authentication.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base = "dd:DeploymentDescriptorType">
					<sequence>
						<element ref = "tns:AuthenticationConfiguration" minOccurs = "0" maxOccurs = "unbounded"/>
						<element name = "selectedAuthenticationConfigurationName" type = "string" minOccurs = "0"/>
						<element name = "requestContextImplementationClassName" type = "string"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name = "AuthenticationConfiguration" type = "tns:AuthenticationConfigurationType" abstract = "true">
		<annotation>
			<documentation>Element that all AuthenticationConfigurations should extend.</documentation>
		</annotation>
	</element>
	<complexType name = "AuthenticationConfigurationType">
		<annotation>
			<documentation>Type that all AuthenticationConfigurations must be defined as.</documentation>
		</annotation>
		<sequence>
			<element name = "configName" type = "string"/>
            <element name = "configDescription" type = "string" minOccurs="0"/>
            <element name = "idleTimeout" type = "int"/>
            <element name = "wrapperAuthenticationPlugInClassName" type = "string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name = "CredentialAuthenticationConfigurationType">
		<annotation>
			<documentation>Type that all CredentialAuthenticationConfigurations must be defined as.</documentation>
		</annotation>
		<complexContent>
			<extension base = "tns:AuthenticationConfigurationType">
				<sequence>
					<element name = "requiresPasswordInCleartext" type = "boolean"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name = "CookieAuthenticationConfiguration" substitutionGroup = "tns:AuthenticationConfiguration">
		<annotation>
			<documentation>Represents the configuration for cookie based authentication.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base = "tns:CredentialAuthenticationConfigurationType">
					<sequence>
						<element name = "cookieDomain" type = "string" minOccurs="0"/>
						<element name = "cookiePath" type = "string"/>
						<element name = "cookieKeepExpire" type = "int"/>
                        <element name = "signaturePassword" type = "string"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name = "HttpSessionAuthenticationConfiguration" substitutionGroup = "tns:AuthenticationConfiguration">
		<annotation>
			<documentation>Represents the configuration for HttpSession based authentication.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base = "tns:CredentialAuthenticationConfigurationType"/>
			</complexContent>
		</complexType>
	</element>
    <element name = "WebServerAuthenticationConfiguration" substitutionGroup = "tns:AuthenticationConfiguration">
        <annotation>
            <documentation>Represents the configuration for web server based authentication.</documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base = "tns:AuthenticationConfigurationType">
                    <sequence>
                        <element name = "cookieDomain" type = "string" minOccurs="0"/>
                        <element name = "cookiePath" type = "string"/>
                        <element name = "requireNewSessionForVerify" type = "boolean"/>
                        <element name = "protectWebServer" type = "boolean" minOccurs="0"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name = "CustomAuthenticationConfiguration" substitutionGroup = "tns:AuthenticationConfiguration">
        <annotation>
            <documentation>Represents the configuration for custom authentication.</documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base = "tns:CredentialAuthenticationConfigurationType">
                    <sequence>
                        <element name = "className" type = "string" minOccurs="0"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
    <element name = "URLAuthenticationConfiguration" substitutionGroup = "tns:AuthenticationConfiguration">
        <annotation>
            <documentation>Represents the configuration for form based webserver authentication.</documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base = "tns:CredentialAuthenticationConfigurationType">
                    <sequence>
                        <element name = "authenticationURL" type = "string" minOccurs="0"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
</schema>